@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}

html, body, #root {
  height: 100%;
}

body {
  background: linear-gradient(
    45deg,
    #0c140e 0%,
    #214724 100%
  );
  background-attachment: fixed;
}

h1 {
  font-size: 50px !important;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
}

.navbar-custom {
  justify-content: start !important;
  font-size: 20px;
  height: 3em;
}

.navbar-adjust {
  background-color: rgba(255, 255, 255, 0.1) !important;
  text-shadow: 5px 6px 5px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.5);
}

iframe {
  box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 1);
}

.spacer50 {
  margin: 50px;
}

.icon {
  margin-right: 10px;
  color: white;
  float: left;
}

.yoga {
  width: fit-content;
}